# Prerequisites
*.d
build/
.*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
client
server

# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
.*.swp
*~

# Directorios Generados por CMake
/build/
/cmake-build-*/
/CMakeFiles/

# Directorios de Descarga de FetchContent (La causa de tu error)
# Esto ignora el código fuente de SDL, Box2D, etc.
/_deps/

# Binarios y Logs (si no van a la carpeta build)
*.exe
*.bin
*.log

# Ejecutables que van a la raíz (si los tienes ahí)
/client
/server
/taller_editor
/taller_tests

# ========================================
# Pre-commit
# ========================================
.pre-commit-config.yaml.bak

